

<div id="favourites" class="container-fluid pl-0 m-2">
    <h3 class="pb-4">
        Preferences
    </h3>

    <div class="card mt-3">
        <h5 class="card-header">Notifications</h5>
        <div class="card-body">
            <h5 class="card-title">Notifications about adverts you post</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="float-left">Push</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-push">
                        <label class="custom-control-label" for="n-push"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Email</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-email">
                        <label class="custom-control-label" for="n-email"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="float-left">SMS</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-sms">
                        <label class="custom-control-label" for="n-sms"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <h5 class="card-header">Activity</h5>
        <div class="card-body">
            <h5 class="card-title">Notifications about account activity such as logins password change etc</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="float-left">Push</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-push">
                        <label class="custom-control-label" for="n-push"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Email</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-email">
                        <label class="custom-control-label" for="n-email"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="float-left">SMS</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-sms">
                        <label class="custom-control-label" for="n-sms"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mt-3">
        <h5 class="card-header">Events</h5>
        <div class="card-body">
            <h5 class="card-title">Notifications about events you are following or interested in</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="float-left">Push</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-push">
                        <label class="custom-control-label" for="n-push"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="float-left">Email</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-email">
                        <label class="custom-control-label" for="n-email"></label>
                    </div>
                </li>
                <li class="list-group-item">
                    <p class="float-left">SMS</p>
                    <div class="custom-control custom-switch float-right">
                        <input type="checkbox" class="custom-control-input" id="n-sms">
                        <label class="custom-control-label" for="n-sms"></label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>