@model IEnumerable<Classifieds.Domain.Model.Advert>
@{
    ViewData["Title"] = "Index";
}
<div class="col-layout">
    @foreach(var advert in Model)
    {
        <h4 class="text-capitalize text-center">@advert.Detail.Title</h4>
        <p>@advert.Detail.Body</p>
        <hr />
    }
</div>

