body {
    padding-bottom: 20px;
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    color: #333;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
a, a:visited {
    color: #666;
}

a:hover, a.active {
        color: #f7547a;
        text-decoration: underline;
    }
/*==================================HEADER MENU================================*/
.navbar {
    text-transform: Capitalize;
    font-size: 9pt;
    color: #fff;
}

.navbar .flex-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.navbar-toggler-icon{
    color: #666;
}
.navbar::before, .navbar::after, 
    .container::before, .container::after {
        display: none;
}

/*==================================HOME PAGE=================================*/
#pg-home .category a, #pg-home .category a:visited {
    color: #666;
}

#pg-home .category h5 {
    display: inline-block;
}

/*==================================LOGIN PAGE=================================*/
#pg-login {
    width: 500px;
    height: 300px;
    margin: 2em auto;
    background-color: #e9eef2;
}

#login {
    width: 80%;
    margin-top: 10px;
    margin: 1em auto;
}

       
/*====================================CREATE ADVERT=================================*/

#create-ad {
    color: #2c2a33;
    padding-left: 10px;
}

/*====================================ADVERT DETAIL====================================*/
.carousel {
    max-height: 400px;
    width: 90%;
    overflow: hidden;
}



/*=====================================CLASSES===========================================*/
/*-------------------------------------buttons-------------------------------------------*/
.image-button {
    background-color: transparent;
    border: none;
}

.image-button img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
 .form-button {
    background-color: #2c2a33;
    border-color: #2c2a33;
    color: #fff;
}

.uploadcare--widget__button_type_open {
    background-color: #2e202b;
    width: 200px;
    height: 45px;
}

.uploadcare--widget {
    float: left;
}

.uploadcare--widget__button_type_open:hover {
    background-color: #2c2a33;
}
/*-------------------------------------text-area------------------------------------------------*/
textarea {
    resize: none;
}
/*-------------------------------------input------------------------------------------------*/
.size-lg {
    height: 40px;
}
.rounded-box {
    border-radius: 0.25rem;
}
.form-input {
    border: solid 1px #f8d650;
}
.w-100{
    width: 100%;
}
p{
    margin-bottom: 0;
}
/*-------------------------------------container-------------------------------------------*/
.col-layout {
    column-count: 3;
    column-gap: 10px;
}
.content {
    background-color: #fff;
}
/*-------------------------------------forms-------------------------------------------*/
.form-group .has-danger {
    height: 85px;
}

.form-group {
    margin-bottom: 5px;
}
.form-group a, .form-group a:visited {
    color: #666;
}
.form-control-danger {
    display: block;
    color: #666;
    font-size: 9pt;
    height: 20px;
    color: #f7547a;
}

.form-control:focus {
    border: solid 1px #f8d650;
    -webkit-box-shadow: 1px 2px 5px 5px #e9eef2; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 2px 5px 5px #e9eef2; /* Firefox 3.5 - 3.6 */
    box-shadow: 1px 2px 5px 5px #e9eef2; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.form-control span {
    min-height: 15px;
}
/*-------------------------------------label-------------------------------------------*/

/*-------------------------------------color-------------------------------------------*/
.bg-fd8 {
    background-color: #f8d650;
}
.bg-666 {
    background-color: #666;
}
.bg-e9e {
    background-color: #e9eef2;
}
.bg-fff {
    background-color: #fff;
}
.bg-transparent{
    background-color: transparent;
}
.shadow {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    -webkit-box-shadow: 1px 2px 3px 1px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 2px 3px 1px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 1px 2px 3px 1px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*=============================MODAL=============================*/
.modal-content {
    color: #2c2a33;
}
.modal-content .container{
    width: auto;
}
.modal-header {
    text-transform: Capitalize;
    background-color: #e9eef2;
}

.modal-footer {
    background-color: #e9eef2;
}

/*--------------------------------Modal Forms---------------------------*/

.modal-form label {
    font-size: 9pt;
    color: #999;
}
.modal-form .form-group {
    margin-bottom: 10px;
}
.modal-form .field-validation-error{
    color: #f7547a;
    font-size: 8.5pt;
    display: block;
}
.modal-form select {
    border: none;
    border-bottom: solid 1px #e9eef2;
    font-size: 9pt;
}

.modal-form input[type=text] {
    border: none;
    border-bottom: solid 1px #e9eef2;
    font-size: 9pt;
}

label{
    margin: 0;
}

.admin-menu {
    color: #f7547a;
}
.nopadding {
    padding-right: 0px;
    padding-left: 0px;
}
/*====================================SIDEBAR===============*/
.user-info {
    color: #f8d650;
    background-color: #fff;
    font-size: small;
}
.user-info img {
    width: 20px;
    height: auto;
}
.user-img {
    width: 150px;
    height: 150px;
}
#sideNavigation {
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #333;
    font-size: medium;
}

.sidebar h6{
    cursor: pointer;
}
.sidebar button {
    background: transparent;
}
.sidebar .acc-heading {
    color: #666;
    font-size:large;
}
.accordion img{
    width: 20px;
    height: auto;
}
.accordion {
    background-color: #fff;
    color: #666;
    font-size: small;
}
.accordion li{
    height: 50px;
    width: 100%;
}
    .accordion li a{
        padding-top: 5px;
    }
.accordion li.active {
    background-color: #e9eef2;
    border-left: solid 5px #f8d650;
}
    .accordion .acc-heading.active {
        background-color: #ccc;
    }
/*====================================DASHBOARD PAGE===============*/
.small-card{
    height: 150px;
}
.medium-card {
    height: 350px;
}
.large-card {
    width: 100%;
}
/*====================================PROFILE PAGE===============*/
.card-profile-img{
    position:absolute;
    bottom: -75px;
    left: 0;
}
.card-img-container{
    position: relative;
    top: 0;
    left: 0;
}
.img-bg {
    background-image: url(../images/chris-barbalis-255972-unsplash.png);
}
/*====================================MENUS PAGE===============*/
#menus {
    margin: 20px;
}

#menus .content img {
    width: 45px;
}
.odd-row {
    background-color: #f9f2a2;
}
.menu-icon{
    cursor: pointer;
}
.menu-icon img{
    width: 30px;
}


.modal-link, .modal-link:hover {
    color: #666;
}

    .modal-link:visited, .modal-link:active {
        color: #666;
    }

.profile-header {
    height: 230px;
    position: relative;
    background-image: url(../images/chris-barbalis-255972-unsplash.png);
}

.img-round {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px ridge #fff;
    margin-left: auto;
}

.nomargin {
    margin: 0 !important;
}
/*========================================MEDIA QUERIES================================*/
/* col-xs col-sm col-md*/
@media only screen and (max-width: 991px) {
    #sideNavigation {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        overflow-x: hidden; /* Disable horizontal scroll */
        overflow-y: hidden; /* Disable vertical scroll */
        -webkit-transition: width 2s ease;
        -moz-transition: width 2s ease;
        -o-transition: width 2s ease;
        transition: width 2s ease;
    }

}
/* col-xs col-sm */
@media only screen and (max-width: 425px) {
    .col-layout {
        column-count: 1 !important;
        column-gap: 10px !important;
    }
}
/*col-md*/
@media only screen and (max-width: 768px) and (min-width: 426px) {
    .col-layout {
        column-count: 2 !important;
        column-gap: 10px !important;
    }
}
