body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*==================================HEADER MENU================================*/
.navbar {
    text-transform: Capitalize;
    font-size: 9pt;
    color: #fff;
}
.navbar a, .navbar a:visited {
    color: #666;
}

.navbar a:hover, .navbar a.active {
    color: #f7547a;
    text-decoration: underline;
}

/*==================================HOME PAGE=================================*/
#pg-home .category a, #pg-home .category a:visited {
    color: #666;
}
#pg-home .category h4 {
    display: inline-block;
}
/*====================================CLASSES=================================*/
.col-layout{
    column-count: 3;
    column-gap: 10px;

}
