body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*==================================HEADER MENU================================*/
.navbar {
    text-transform: Capitalize;
    font-size: 9pt;
    color: #fff;
}
.navbar a, .navbar a:visited {
    color: #666;
}

.navbar a:hover, .navbar a.active {
    color: #f7547a;
    text-decoration: underline;
}
.navbar .flex-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.navbar-toggler-icon{
    color: #666;
}
.navbar::before, .navbar::after, 
    .container::before, .container::after {
        display: none;
}

@media only screen and (max-width: 767px) {
    .navbar .flex-container {
        display: flex;
        flex-direction: column;
    }
    .col-layout{
        column-count: 2 !important;
        column-gap: 10px !important;
    }
}

    /*==================================HOME PAGE=================================*/
    #pg-home .category a, #pg-home .category a:visited {
        color: #666;
    }

    #pg-home .category h4 {
        display: inline-block;
    }

/*==================================LOGIN PAGE=================================*/
#pg-login {
    width: 500px;
    height: 300px;
    margin: 2em auto;
    background-color: #e9eef2;
}

#login {
    width: 80%;
    margin-top: 10px;
    margin: 1em auto;
}

       
/*====================================CREATE ADVERT=================================*/

#create-ad {
    color: #2c2a33;
    padding-left: 10px;
}
textarea{
    resize: none;
}
/*====================================ADVERT DETAIL====================================*/
.carousel {
    max-height: 400px;
    width: 90%;
    overflow: hidden;
}



/*=====================================CLASSES===========================================*/
/*-------------------------------------buttons-------------------------------------------*/
.image-button {
    background-color: transparent;
    border: none;
}

.image-button img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
 .form-button {
    background-color: #2c2a33;
    border-color: #2c2a33;
    color: #fff;
}

.uploadcare--widget__button_type_open {
    background-color: #2e202b;
    width: 200px;
    height: 45px;
}

.uploadcare--widget {
    float: left;
}

.uploadcare--widget__button_type_open:hover {
    background-color: #2c2a33;
}
/*-------------------------------------input------------------------------------------------*/
.size-lg {
    height: 40px;
}
.rounded-box {
    border-radius: 0.25rem;
}
.form-input {
    border: solid 1px #f8d650;
}
.w-100{
    width: 100%;
}
/*-------------------------------------container-------------------------------------------*/
.col-layout {
    column-count: 3;
    column-gap: 10px;
}
.form-group .has-danger {
    height: 85px;
}
.form-group {
    margin-bottom: 10px;
}
.form-group a, .form-group a:visited {
    color: #666;
}
/*-------------------------------------label-------------------------------------------*/
.form-control-danger {
    display: block;
    color: #666;
    font-size: 9pt;
    height: 20px;
}
.form-control:focus {
    border: solid 1px #f8d650;
    -webkit-box-shadow: 1px 2px 5px 5px #e9eef2; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 2px 5px 5px #e9eef2; /* Firefox 3.5 - 3.6 */
    box-shadow: 1px 2px 5px 5px #e9eef2; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.form-control span {
    min-height: 15px;
}
/*-------------------------------------color-------------------------------------------*/
.color-fd8 {
    background-color: #f8d650;
}
.color-666 {
    background-color: #666;
}
.color-e9e {
    background-color: #e9eef2;
}
/*=============================MODAL=============================*/
.modal-content {
    color: #2c2a33;
}
.modal-content .container{
    width: auto;
}
.modal-header {
    text-transform: Capitalize;
    background-color: #e9eef2;
}

.modal-footer {
    background-color: #e9eef2;
}

.modal-body .border-btm select {
    border-bottom: solid 1px #e9eef2;
}

.modal-body .border-btm input[type="text"] {
    border: none;
    border-bottom: solid 1px #e9eef2;
}

.modal-body .border-btm select {
    border: none;
    border-bottom: solid 1px #e9eef2;
}

.modal-body .form-control-danger {
    color: #e9eef2;
}

.modal-body input, .modal-body select {
    font-size: 9pt;
}

.modal-body label {
    color: #999;
}
/*====================================FOOTER===============*/
    


