
<div class="w-50 h-100 bg-e9e m-auto mt-3 pt-3 pb-3">


    <h3 class="text-center mt-3">Registration Confirmation</h3>

    <p class="m-3">
        Congratulations, your registration was successful! <br />
        You will be sent a confirmation email shortly.
        After confirmation your registration, proceed to
        the <a href='/Login/'> login </a> page.
        If you haven't received the confirmtation email, contact
        <a href='/Login/'>Classifieds.Registration</a>
    </p>
</div>
<div class="mb-5 mt-5"></div>
