@model IEnumerable<Classifieds.Web.Models.CategoryViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div id="pg-home" class="container mt-5">
    @Html.Raw("<div class='row'>")
    @foreach (var category in Model)
    {

        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 category mb-3">
            <div class="clearfix">
                <img src="~/images/home/@category.Icon" class="float-left mr-2" width="45" height="45" />
                <h4 class="pt-2 pb-2 text-capitalize">
                    @Html.ActionLink((String)category.Name, "Category", "Classifieds",
                                 new { id = category.ID })

                </h4>
            </div>
            @foreach (var subCategory in category.SubCategories)
            {
                <!-- LinkText, ActionName, Controller, RouteValues, HtmlAttributes-->
                <p class="text-capitalize mb-1">
                    @Html.ActionLink((String)subCategory.Name, "Category",
                   "Classifieds", new { id = subCategory.ID })
            </p>

        }
        </div>


    }
    @Html.Raw("</div>")
</div>
