
<div class="w-50 h-100 bg-e9e m-auto mt-3 pt-3 pb-3">


    <h3 class="text-center mt-3">Reset Email Sent</h3>

    <p class="m-3">
        An email has been sent to your account with a confirmation code. 
        Please click on the link and use the activation code to reset your password.
    </p>

</div>
