
<div class="w-50 h-100 bg-e9e m-auto mt-3 pt-3 pb-3">


    <h3 class="text-center mt-3">Password Reset Successful</h3>



        <p class="m-3">
            You have successfully reset your password! <br />
            You can proceed to the @Html.ActionLink("login","Index","Login") page.
            If you still can't log in please contact <a href=#> Classifieds.Registration </a>
        </p>

</div>
