
<div class="w-50 h-100 bg-e9e m-auto mt-3 pt-3 pb-3">


    <h3 class="text-center mt-3">Password Reset Successful</h3>



        <p class="m-3">
            You have successfully reset your password! <br />
            A message has been sent to the email you provide.
            Please click on the link provided to reset your password.
            After resetting your password, proceed to the login page. 
            If you do not receive the confirmtation email or are experiencing 
            problems please contact <a href=#> Classifieds.Registration </a>
        </p>

</div>
